---
import HeroNew from "../components/HeroNew.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hive Thoughtleaders">
  <HeroNew />
  <section class="max-w-7xl mx-auto py-12">
    <div class="prose-2xl">
      <p>
        Discover influential thought leaders and super-connectors on Twitter,
        transforming them into powerful early adopters, brand ambassadors,
        evangelists, or advisors for your product/service.
      </p>
      <p>
        Unlock the immense power of respected individuals endorsing your product
        or vision. Their support holds more sway than an exorbitant advertising
        budget, helping you achieve unparalleled success.
      </p>
      <p>
        With over 5 years dedicated to developing cutting-edge community
        detection algorithms for Twitter, we possess an unparalleled
        understanding of the platform’s intricate graph. In fact, our insights
        go even more profound than Twitter itself! Explore the vast Twitter
        communities our algorithm has mapped, and experience the power of our
        technology firsthand.
      </p>
      <p>
        Experience a bespoke concierge service that sets us apart from
        traditional influencer marketing platforms. Our team of data scientists
        will craft a tailor-made model to fit your unique requirements. Expect
        regular batches of handpicked profiles that perfectly align with your
        criteria.
      </p>
      <p>Our model incorporates essential factors</p>
      <ul>
        <li>
          Centrality, determining a person's influence and ability to spread
          information;
        </li>
        <li>
          Credibility, analyzing social standing across various groups;
          Interests, identifying topics and ideas they engage with; and
        </li>
        <li>
          Preferences, understanding their publicly expressed likes, dislikes,
          and preferences. This comprehensive approach ensures we find the
          perfect matches for your brand.
        </li>
      </ul>
    </div>
    <!-- <div class="grid grid-cols-2 gap-8">
      <div class="break-inside-avoid">
        <h2 class="text-3xl font-bold">
          Discover influential thought leaders and super-connectors on Twitter,
          transforming them into powerful early adopters, brand ambassadors,
          evangelists, or advisors for your product/service.
        </h2>
      </div>
      <div
        class="bg-[#F0FEFC] relative border border-[#c5eff5] rounded-2xl overflow-hidden px-8 py-16 text-3xl font-bold text-[#006a6a]"
      >
        <p>
          Unlock the immense power of respected individuals endorsing your
          product or vision. Their support holds more sway than an exorbitant
          advertising budget, helping you achieve unparalleled success.
        </p>
      </div>
    </div> -->
  </section>
</Layout>
