<footer class="bg-gray-50 py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <p class="text-sm text-gray-600 text-center">
      Copyright © 2023 Borg Collective GmbH. All rights reserved.
    </p>
  </div>
</footer>
